.table {
    display: none;

    .tableWord {
        width: 80vw;
        max-width: 800px;
        height: auto;
        border: 1px solid #fff;
        background-color: var(--main-color);
        border-radius: 10px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
        border-collapse: collapse;
        overflow: hidden;

        th,
        td {
            padding: 15px;
            border-bottom: 1px solid #ddd;
            text-align: center;
            word-break: break-word;
        }

        th {
            font-size: 1.5rem;
            background-color: var(--dark-color);
            color: white;
            height: 60px;
        }
    }


    .controls {
        margin-bottom: 10px;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    button {
        font-size: 16px;
        padding: 12px 24px;
        border-radius: 8px;
        background: var(--main-color);
        border: none;
        box-shadow: 1px 1px 5px #0000007c;
        cursor: pointer;
        transition: all ease 0.3s;

        &:hover {
            color: white;
            background-color: #725AC1;
            box-shadow: none;
        }

        &:active {
            transform: scale(0.9);
        }
    }
}

select,
    input[type="text"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        color: #000;
    }

    option {
        color: #000;
    }